@font-face {
    font-family: 'Proxima Nova Thin';
    src: url('ProximaNovaT-Thin.eot');
    src: url('ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
    url('ProximaNovaT-Thin.woff') format('woff'),
    url('ProximaNovaT-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
  
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    outline: none;
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
}

header,
main,
footer {
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 1170px;
}

header,
main {
    font-family: 'Source Sans Pro', sans-serif;
}

main {
    background-color: #E5E5E5;
}

header {
    height: 60px;
    background-color: rgba(0, 102, 204, 0.76);
}

header a {
    font-size: 18px;
    line-height: 18px;
    color: white;
}

header a:hover,
header a:focus {
    opacity: 0.5;
}

.header-menu {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu__back-up-button {
    flex-grow: 1;
    display: flex;
}

.header-menu__back-up-button svg {
    margin-right: 20px;
}

.header-menu__list {
    flex-grow: 1;
    display: flex;
    justify-content: end;
}

.header-menu__list .exit {
    margin-left: 54px;
}

.header-menu__list .language {
    margin-left: 40px;
}

.banner {
    position: relative;
    height: 202px;
    background-image: url(image/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner::before {
    content: "";

    position: absolute;
    z-index: 1;
    width: 100%;
    height: 202px;
    top: 0;
    left: 0;
    background-color: rgba(1,1,1,0.1);
}

.banner__caption {
    position: relative;
    z-index: 2;
    padding-top: 50px;
}

.banner__caption p {
    margin: 0;
    margin-left: 300px;

    color: white;
    font-weight: bold;
}

.banner__small-caption {
    font-size: 40px;
    line-height: 40px;
}

.banner__biggest-caption {
    font-size: 56px;
    line-height: 56px;
}

.main-block {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 53px;
    padding-bottom: 80px;

    color: #555555;
}

.main-menu {
    width: 145px;
}
.main-menu__item {
    position: relative;
}

.main-menu__item a {
    font-size: 20px;
    line-height: 25px;
    color: #555555;
}

.main-menu__item--active::before {
    content: "";

    position: absolute;
    top: 0;
    left: -16px;
    width: 4px;
    height: 21px;

    background-color: #0066CC;
}

.main-menu__item--active a {
    color: #0066CC;
}

.main-menu__item {
    margin-bottom: 20px;
}

.content-item {
    margin-right: 20px;
}

.content-item__container {
    background-color: white;
    border-radius: 10px;
    width: 670px;
}

.personal-info__docs-list {
    padding-bottom: 30px;
}

.personal-info__menu {
    display: flex;
    justify-content: space-evenly;

    border-bottom: 3px solid rgba(1,1,1,0.1);
}

.personal-info__item {
    padding-top: 24px;
    padding-bottom: 18px;
}

.personal-info__item button {
    font-size: 16px;
    line-height: 24px;
    color: #555555;
}

.personal-info__item--active {
    margin-bottom: -3px;
    border-bottom: 3px solid #0066CC;
}

.personal-info__item-active button {
    color: #0066CC;
}

.personal-info__block {
    display: none;
    width: 430px;
    padding-left: 100px;
    padding-top: 40px;
}

.personal-info__block p {
    font-size: 16px;
    line-height: 20px;
}

.personal-info__document {
    position: relative;
    padding-bottom: 33px;
}

.personal-info__document p {
    margin: 0;
}

.personal-info__document .document-title {
    margin-bottom: 10px;
}

.personal-info__document .document-note {
    margin-bottom: 6px;
}

.personal-info__document .edit-buttons {
    margin-top: 14px;
}

.personal-info__document::before {
    content: "";

    position: absolute;
    top: 0;
    left: -40px;
    width: 20px;
    height: 26px;

    background-image: url(image/icon-doc.png);
    background-repeat: no-repeat;
}

.personal-info__document--loading {
    display: flex;
}

.personal-info__document--loading::before {
    content: "";

    position: absolute;
    top: 0;
    left: -35px;
    width: 20px;
    height: 26px;

    background-image: url(image/icon-doc-loading.png);
    background-repeat: no-repeat;
}

.personal-info__document--loading .document-title {
    position: relative;
    margin: 0;
    margin-right: 35px;
    opacity: 0.7;

    border-bottom: 1px solid #C4C4C4;
}

.personal-info__document--loading p::before {
    content: "";

    position: absolute;
    top: 24px;
    left: 0;
    width: 65%;
    height: 1px;

    z-index: 1;
    background-color: #0066CC;
}

.personal-info__document--loading a {
    position: relative;
    font-size: 14px;
    line-height: 25px;
    color: #0066CC;
}

.personal-info__document--loading a::before {
    content: "";

    position: absolute;
    top: 2px;
    left: -25px;
    width: 21px;
    height: 21px;
    background-image: url(image/preloader.png);
    background-repeat: no-repeat;
}

.personal-info__block--active {
    display: block;
}

.edit-buttons button {
    font-size: 16px;
    line-height: 25px;
}

.edit-botton {
    margin-right: 25px;
}

.delete-button {
    color: #0066CC;
}

.profile {
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile__content {
    background-color: white;
    border-radius: 10px;
    padding-left: 59px;
    padding-top: 40px;
    padding-bottom: 50px;
}

.profile__content p {
    margin: 0;
}

.profile__content .profile__avatar {
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile__content .profile__status {
    font-size: 16px;
    line-height: 20px;
    color: #0080FF;
    margin-bottom: 5px;
}

.profile__content .profile__name {
    font-weight: bold;
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 25px;
}

.profile__content .profile__info {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 14px;
}

.profile__info .profile__info-title {
    margin-bottom: 3px;
}

.profile__edit-button {
    height: 60px;

    font-size: 16px;
    line-height: 20px;
    color: white;

    background: radial-gradient(100.83% 100.83% at 50.16% 132.5%, #00D1FF 0%, rgba(0, 209, 255, 0) 100%), #0066CC;
    border-radius: 10px;
}

footer {
    background-color: rgba(0, 102, 204, 0.76);
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
    padding-bottom: 110px;
    color: white;
    /* font-family: 'Proxima Nova Thin'; */
}

.footer p {
    margin: 0;
}

.footer__column-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 300px;
}

.about-us__item {
    margin-bottom: 20px;
}

.about-us__item a {
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.about-us__caption {
    font-family: 'Proxima Nova Thin';
    font-size: 12px;
    line-height: 32px;
}

.footer__about-site {
    margin-bottom: 60px;
}

.about-site__title,
.mobile__title,
.footer__title {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
}

.about-site__container-list {
    margin-top: 20px;
}

.about-site__item a,
.social__title,
.mobile__caption {
    font-family: 'Proxima Nova Thin';
    font-size: 14px;
    line-height: 20px;
    color: white;
}

.footer .social__title {
    width: 110px;
    margin-bottom: 12px;
}

.social__list {
    display: flex;
}

.social__item {
    margin-right: 13px;
}

.footer .mobile__caption {
    margin-top: 20px;
    width: 190px;
}

.mobile__item {
    margin-bottom: 10px;
}

.mobile__item:last-child {
    margin-bottom: 0;
}

.footer__form-container {
    width: 269px;
    margin-top: 20px;
}

.footer__form-container input,
.footer__form-container textarea {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    outline: none;

    padding: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 10px;
}

.footer__form-container textarea {
    resize: none;
}

.footer__form-container input::placeholder,
.footer__form-container textarea::placeholder {
    font-family: 'Proxima Nova Thin';
    font-size: 14px;
    line-height: 36px;
    color: white;
    opacity: 0.5;
}

.footer .footer__concept-caption {
    margin-top: 10px;
    font-family: 'Proxima Nova Thin';
    font-size: 12px;
    line-height: 16px;
    opacity: 0.5;
}

.footer__submit {
    width: 100%;
    height: 35px;
    margin-top: 20px;
    background: #FFFFFF;
    border-radius: 3px;
    color: #3B89D6;
}

.avatar-editing__block,
.info-editing__block {
    padding: 40px;
}

.avatar-editing__title,
.info-editing__title {
    margin: 0;
    font-size: 25px;
    font-weight: normal;
    line-height: 24px;
    color: #0066CC;
}

.avatar-editing__caption {
    font-size: 16px;
    line-height: 24px;
    color: #354052;
    opacity: 0.6;
}

.avatar-editing__upload-fields {
    display: flex;
}

.avatar-editing__field-title {
    font-size: 20px;
    line-height: 25px;
}

.avatar-editing__field-label {
    position: relative;
}

.avatar-editing__upload-avatar {
    margin-right: 64px;
}

.avatar-editing__avatar,
.avatar-editing__cover {
    display: none;
}

.avatar-editing__upload-avatar .avatar-editing__field-label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 145px;
    height: 155px;
    background: #F2F5F5;
    background-image: url(image/ava.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    border: 1px solid #DFE6E6;
    box-sizing: border-box;
    border-radius: 3px;
}

.avatar-editing__upload-avatar .avatar-editing__field-label::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 145px;
    height: 155px;

    background-image: url(image/big-preloader.png);
    background-repeat: no-repeat;
    background-position: center;
}

.avatar-editing__upload-cover .avatar-editing__field-label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 335px;
    height: 155px;
    background: #F2F5F5;
    background-image: url(image/input.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #DFE6E6;
    box-sizing: border-box;
    border-radius: 3px;
}

.avatar-editing__upload-cover .avatar-editing__field-label::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 335px;
    height: 155px;

    background-image: url(image/big-preloader.png);
    background-repeat: no-repeat;
    background-position: center;
}

.avatar-editing__button,
.info-editing__save {
    margin-top: 185px;
    width: 270px;
    height: 60px;
    background: radial-gradient(100.83% 100.83% at 50.16% 132.5%, #00D1FF 0%, rgba(0, 209, 255, 0) 100%), #0066CC;
    border-radius: 10px;

    font-size: 16px;
    line-height: 20px;
    color: white;
}

.info-editing__block {
    width: 369px;
}

.info-editing__title {
    margin-bottom: 15px;
}

.info-editing__block label {
    font-size: 14px;
    line-height: 20px;
    opacity: 0.6;
    margin-bottom: 5px;
}

.info-editing__block input,
.info-editing__block select {
    border: 1px solid #DADADA;
    padding: 10px 11px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    line-height: 20px;
}

.info-editing__block div {
    display: flex;
    flex-direction: column;
    margin-bottom: 17px;
}

.info-editing__birthday input {
    background-image: url(image/arrow.png);
    background-repeat: no-repeat;
    background-position: center right 17px;
}

.info-editing__tel button {
    position: relative;
    text-align: start;
    padding-left: 24px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 21px;
    color: #0066CC;
}

.info-editing__tel button::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    top: 2px;
    left: 0;
    background-image: url(image/dob_ico.png);
    background-repeat: no-repeat;
}

.info-editing__block .info-editing__location {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info-editing__location .location__country {
    margin-right: 10px;
}

.info-editing__location select {
    flex-grow: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(image/arrow.png);
    background-repeat: no-repeat;
    background-position: center right 17px;
}

.info-editing__language select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(image/arrow.png);
    background-repeat: no-repeat;
    background-position: center right 17px;
}

.info-editing__block .info-editing__edit-buttons {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 40px;
}

.info-editing__button-edit {
    font-size: 16px;
    line-height: 25px;
}

.info-editing__button-delete {
    font-size: 16px;
    line-height: 25px;
    color: #0066CC;
}

.info-editing__block .info-editing__personal-data {
    flex-direction: row;
    margin-bottom: 30px;
}

.info-editing__personal-data label {
    margin-left: 30px;
    position: relative;
}

.info-editing__personal-data label::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 2px;
    left: -30px;
    background-color: #555555;
    opacity: 0.3;
}

.info-editing__personal-data label::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 5px;
    left: -26px;
    background-image: url(image/check-box.png);
    background-repeat: no-repeat;
}

.info-editing__save {
    margin-top: 0;
}
